.soft-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    list-style: none;
    padding: 100px;

    background-size: 500px;
    background-position: center;

    &-title {
      font-weight: bold !important;
    }
  }
}
