@use "../../styles/media-query" as *;

.soft-skills {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
  max-width: 1024px;
  justify-content: center;

  @include mq("sm") {
    grid-template-columns: 1fr 1fr;
  }

  @include mq("xl") {
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    list-style: none;
    height: 320px;
    justify-content: center;

    background-size: cover;
    background-position: center;

    &-title {
      font-size: x-large;
      font-weight: bold !important;
    }

    &-description {
      max-width: 320px;
      text-wrap-style: balance;
    }
  }
}
