@use "../../styles/variables.scss" as *;

.project-card {
  display: flex;
  padding: 30px;
  background-color: $color-blue;
  width: 340px;
  height: 450px;
  border-radius: 30px;
  text-decoration: none;
  min-width: 340px;
  scroll-snap-align: center;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    color: $color-primary;
  }

  &__techs {
    display: flex;
    gap: 10px;
    background-color: #ffffff85;
    backdrop-filter: blur(0.9);
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    color: $color-primary;
  }
}
