@use "../../styles/variables" as *;
@use "../../styles/media-query" as *;

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 80px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 40px;
    background-color: $color-green;
    text-align: center;
    align-items: center;

    @include mq("sm") {
      padding: 120px 80px;
    }
  }

  &__description {
    @include mq("lg") {
      max-width: 600px;
    }
  }

  &__title {
    font-size: xx-large;
    font-weight: bold;
  }

  &__subtitle {
    font-size: xx-large;
    font-weight: bold;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__hard-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  &__soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
}
