// sm	40rem (640px)	@media (width >= 40rem) { ... }
// md	48rem (768px)	@media (width >= 48rem) { ... }
// lg	64rem (1024px)	@media (width >= 64rem) { ... }
// xl	80rem (1280px)	@media (width >= 80rem) { ... }
// 2xl	96rem (1536px)	@media (width >= 96rem) { ... }
@use "sass:map";

$breakpoints: (
  "sm": 40rem,
  "md": 48rem,
  "lg": 64rem,
  "xl": 80rem,
  "2xl": 96rem,
);

@mixin mq($key) {
  $breakpoint: map.get($breakpoints, $key);
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "No breakpoint found for key: #{$key}";
  }
}
