// Colors
$color-yellow: #ffe793;
$color-purple: #debaf4;
$color-blue: #93a2fe;
$color-pink: #f6b1de;
$color-green: #1b985a;
$color-makeup: #ffecea;

$color-yellow-light: #fff7ee;
$color-blue-light: #cee8fd;

$color-primary: black;
$color-background: $color-makeup;
$color-accent: $color-yellow;
