@use "../../styles/variables.scss" as *;

.project-section {
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    margin: 0 60px;
    padding: 100px 80px;
    background-color: $color-pink;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 30px;
  }

  &__title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
  }

  &__description {
    text-align: center;
  }
}
