@use "../../styles/variables.scss" as *;
@use "../../styles/media-query.scss" as *;

.project-section {
  padding: 30px 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @include mq("lg") {
    padding: 60px 0px;
  }

  &__header {
    margin: 0 20px;
    padding: 80px 60px;
    background-color: $color-pink;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 30px;
    max-width: 1024px;
    width: 100%;
    align-self: center;

    transition: all 0.3s ease;

    @include mq("lg") {
      margin: 0 60px;
      padding: 100px 80px;
    }

    &:hover {
      background-color: $color-purple;
      rotate: 2deg;
    }
  }

  &__title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
  }

  &__description {
    text-align: center;
  }
}
