@use "../../styles/variables" as *;
@use "../../styles/media-query" as *;

.hard-skills {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2px;
  padding: 20px;
  width: 100%;

  @include mq("xl") {
    width: fit-content;
    display: grid;
    grid-auto-flow: column;

    &__item:hover {
      margin-top: -8px;
      background-color: $color-green !important;
      transform: skewY(-5deg);
    }

    &__item:hover + &__item {
      margin-top: -8px;
      transform: skewY(5deg);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid black;
    min-height: 90px;
    width: 100%;
    justify-content: center;
    font-weight: bold;

    @include mq("xl") {
      min-height: 400px;
      min-width: 90px;

      writing-mode: sideways-lr;
      text-orientation: mixed;
    }

    transition: all 0.3s ease;
  }
}
