@use "../../styles/variables" as *;
.hard-skills {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid black;
    min-height: 400px;
    min-width: 90px;
    justify-content: center;
    font-weight: bold;

    writing-mode: sideways-lr;
    text-orientation: mixed;
  }

  &__item:hover {
    background-color: $color-green !important;
  }
}
