@use "../../styles/variables" as *;
@use "../../styles/media-query" as *;

.header {
  padding: 20px;
  background-color: $color-purple;
  display: flex;
  width: 100%;
  justify-content: center;

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1200px;

    @include mq("sm") {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__nav {
    &-list {
      display: flex;
      gap: 20px;
      list-style: none;
    }
  }

  &__title {
    text-align: center;
    font-weight: bold !important;
    display: none;

    @include mq("sm") {
      display: block;
    }
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
  }
}
