.projects-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;

  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;

  columns: 1;

  scrollbar-width: none;

  &:active,
  &:focus,
  &:hover {
    overflow-x: scroll;
  }
}
